<app-nav-head></app-nav-head>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav

    [autoFocus]="false"
    [mode]="layoutService.sideNavMode()"
    [opened]="layoutService.sideNavOpen()"
    (openedChange)="layoutService.sideNavOpen.set($event)">
    <mat-nav-list>

      <a mat-list-item routerLink="/home" routerLinkActive="sidenav-item-selected">Home</a>
      <a mat-list-item routerLink="/markdown" routerLinkActive="sidenav-item-selected">markdown</a>

      <a mat-list-item routerLink="/for"
         routerLinkActive="sidenav-item-selected">你太美</a>
      <a mat-list-item routerLink="/style"
         routerLinkActive="sidenav-item-selected">Free Style</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>


</mat-sidenav-container>
