/*

.sidenav-container {
  height: calc(100vh - 52px);
  background-color: lightgray;

  .mat-sidenav-content {
    height: calc(100vh - 52px);
    padding: 8px;
    overflow: scroll;
    background-color: #fff;
  }

  .mat-sidenav {
    border-right: 1px solid #d6d9dc;
    width: 200px;
    padding: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
*/
