.example-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-radius: 99999px;
  margin: 24px 0;
  position: relative;
  z-index: 2;

  width: 128px;
  height: 128px;
}
